@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #EDEDED;
}

header {
    height: 80px;
    background-color: #DDDDDD;
    padding: 20px;
}

nav {
    padding: 20px 10px;
    float: right;
    max-width: 50%;
}

nav > a {
    padding: 10px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    max-width: 100px;
    
    font-weight: bold;

}

nav > a:hover {
    background-color: gray;
    border-radius: 5px;
}

img#logo {
    display: inline;
    height: 80px;
    padding-left: 200px;
    
}

.search-bar {
    background-color: white;
    border-radius: 10px;
    float: right;
}

.search-bar > input {
    border: none;
    font-size: 20px;
    border-radius: 10px;
    padding-bottom: 5px;
}


.search-btn {
    border: none;
    color: #DDDDDD;
    height: 18px;
    width: 18px;
    padding-top: 1.5px;
    padding-right: 5px;
    
}

.search-btn > img {
    padding-top: 5px;
}

main {
    height: 100vh;
    padding: 20px;
    text-align: center;
}

section {
    display: inline-table;
    background-color: white;
    max-width: 300px;
    min-height: 400px;
    padding: 10px;
    margin: 20px;
    text-align: left;
    line-height: 1.5em;
}

section h1, p {
    padding: 10px;
}

section h1 {
    font-size: 20px;
}

section p {
    font-size: 13px;
    max-height: 250px;
}


section > a {
    text-decoration: none;
    text-align: center;
}


section > a:hover {
    text-decoration: underline;
}
