@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EDEDED;
}

header {
    height: 100px;
    background-color: #DDDDDD;
    padding: 20px;
}

nav {
    padding: 39px 200px;
    float: right;
}

nav > a {
    padding: 10px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

nav > a:hover {
    background-color: gray;
    border-radius: 5px;
}

img#logo {
    display: inline;
    height: 100px;
    padding-left: 200px;
    
}

.search-bar {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
}

.search-bar > input {
    border: none;
    font-size: 20px;
    border-radius: 10px;
    padding-bottom: 5px;
}


.search-btn {
    border: none;
    color: #DDDDDD;
    height: 18px;
    width: 18px;
    padding-top: 1.5px;
    padding-right: 5px;
}

.search-btn > img {
    padding-top: 5px;
}
